src/it/fixedvalue-it/src/main/resources/sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xs:element name="notice" type="notice"/>
    <xs:complexType name="notice">
        <xs:simpleContent>
            <xs:extension base="CONTENT">
                <xs:attribute name="test" use="required" fixed="en"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CONTENT">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Banana banana banana"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>